.App {
  font-family: sans-serif;
  text-align: center;
}

.home {
  padding: 10px;
  background: green;
  text-align: center;
}

.about {
  padding: 10px;
  background: red;
  text-align: center;
}

.contact {
  padding: 10px;
  background: orange;
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}
li {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
li:first-child {
  margin-left: 0px;
}
li a {
  color: black;
}

li a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: aqua;
}

.app {
  display: flex;
  flex-direction: column;
}

li a.active {
  color: red;
  text-decoration: underline;
  text-underline-offset: 5px;
}

li a:focus {
  color: #1d31e0;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.card {
  width: 18rem;
}

.fa-times1 {
  font-size: 20px;
  color: black;
}

#modal1 {
  margin: 120px auto 0px auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.8s;
  animation-name: animatetop;
  animation-duration: 1.8s;
}
#root {
  margin: 40px;
}
